body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    display: block;
    margin: 30px auto;
    width: 200px;
}
.container {
    width: 50%;
    margin: 20px auto;
    display: block;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
}
button {
    background-color: #25d32b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}
button:hover {
    opacity: 0.8;
}